<%= form_with(model: [@bord, @list], local: true) do |f| %>
    <%= render partial: 'errors/model_form_show', locals: {some_model: @list} %>
    <%= f.text_field :title %>
    <%= f.submit I18n.t("views.list.new.create_bt") %>
<% end %>
