
<div>
  <div class="columns">
    <% @bord.lists.each do |list| %>
        <div class="column" list_id="<%= list.id %>">
          <div>
            <div class="listrowleft"> <%= list.title %> </div>
            <div class="listright">
              <%= button_to "X", [@bord, list], {method: :delete, data: { confirm: I18n.t('views.bord.lists.delete.confirm_msg') }}%>
            </div>
          </div>
          <div>
            <%= button_to I18n.t('views.bord.show.create_card_bt'), new_bord_list_card_path(@bord, list), {method: :get} %>
          </div>
          <% list.cards.each do |card| %>
              <div class="card">
                <div card_id="<%= card.id %>" list_id="<%= card.list_id %>" class="draggable">
                  <p> <%= card.title %> </p>
                </div>
                <div class="listright">
                  <%= button_to "E", edit_bord_list_card_path(@bord, list, card), {method: :get} %>
                </div>
                <div class="listright">
                  <%= button_to "X", [@bord, list, card], {method: :delete, data: { confirm: I18n.t('views.bord.cards.delete.confirm_msg') }}%>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>