<%= form_with(model: @bord, local: true) do |f| %>
    <%= render partial: 'errors/model_form_show', locals: {some_model: @bord} %>
    <%= f.text_field :title %>
    <%= f.submit I18n.t("views.bord.new.create_bt") %>
<% end %>
