<div hidden="true" id="bord_uniq_link" uniq_link="<%= @bord.uniq_link %>"></div>

<div>
  <p> <%= I18n.t('views.bord.show.bord_short_title') %> : <%= bord_path(uniq_link: @bord.uniq_link) %> </p>
</div>

<div>
  <%= button_to I18n.t('views.bord.show.create_list_bt'), new_bord_list_path(@bord), {method: :get} %>
</div>


<div id="bord_table_data">
  <%= render 'bords/table_data' %>
</div>