<% unless some_model.errors.blank? %>
    <div id="error_explanation">
      <ul>
        <% some_model.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>