<%= form_with(model: [@bord, @list, @card], local: true) do |f| %>
    <%= render partial: 'errors/model_form_show', locals: {some_model: @card} %>
    <%= f.text_field :title %>
    <%= f.submit I18n.t("views.card.update.apply_bt") %>
<% end %>
