// Place all the styles related to the bords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require jquery-ui/draggable

div.columns {
  width: 100%;
  margin: 0 auto;
}
div.column {
  width: 250px;
  float: left;
  border: 1px solid #999999;
  text-align: center;
}

div.listrowleft {
  width: 70%;
  display: inline-block;
}

div.listright {
  width: 12%;
  display: inline-block;
}

div.card {
  border: 1px solid;
  text-align: center;
  margin-top: 3px;
  margin-left: 1%;
  width: 97%;
  float: left;
}

div.draggable {
  border: 1px solid;
  padding: 0.5em;
}

